<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="layout_pattern" value="[%level]%date, [%thread]%file:%line, %msg%n"/>
    <appender name="alllog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>true</Append>
        <Encoding>UTF-8</Encoding>
        <File>/data/javalog/chat.wolfbe.com.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/javalog/chat.wolfbe.com.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${layout_pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
    <appender name="errorlog"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>true</Append>
        <Encoding>UTF-8</Encoding>
        <File>/data/javalog/chat.wolfbe.com_error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/javalog/chat.wolfbe.com_error.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${layout_pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>
    <appender name="warnlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>true</Append>
        <Encoding>UTF-8</Encoding>
        <File>/data/javalog/chat.wolfbe.com_warn.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/javalog/chat.wolfbe.com_warn.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${layout_pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Encoding>UTF-8</Encoding>
        <encoder>
            <pattern>${layout_pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="alllog"/>
        <appender-ref ref="errorlog"/>
        <appender-ref ref="warnlog"/>
        <appender-ref ref="stdout"/>
    </root>
</configuration>